version: 2.1

executors:
  default:
    environment:
      BUILDKIT_PROGRESS: plain
      DOCKER_BUILDKIT: 1

    machine:
      docker_layer_caching: true
      image: ubuntu-2204:2024.04.1

orbs:
  boost-security-scanner: boostsecurityio/scanner@4

workflows:
  version: 2
  ci:
    jobs:
      # - osv-scan:
      #     context: [potato]
      - composition-scan:
          context: [potato]
      # - trivy-scan:
      #     context: [potato]

jobs:
  # osv-scan:
  #   executor: default
  #   environment:
  #     BOOST_SCANNER_REGISTRY_REPO: "https://github.com/boostsecurityio/dev-registry.git#BST-17798-osv"
  #   steps:
  #     - checkout
  #     - when:
  #         condition:
  #           or:
  #             - equal: [ main, << pipeline.git.branch >> ]
  #         steps:
  #           - boost-security-scanner/scan:
  #               registry_module: boostsecurityio/osv-scanner
  #               api_endpoint: "https://api.dev.boostsec.io"
  composition-scan:
    executor: default
    environment:
      BOOST_SCANNER_REGISTRY_REPO: "https://github.com/boostsecurityio/dev-registry.git"
      BOOST_IMAGE_NAME: "mongo:latest"
    steps:
      - checkout
      - when:
          condition:
            or:
              - equal: [ main, << pipeline.git.branch >> ]
          steps:
            - boost-security-scanner/scan:
                registry_module: boostsecurityio/composition
                api_endpoint: "https://api.dev.boostsec.io"
            - boost-security-scanner/scan:
                registry_module: boostsecurityio/supply-chain-inventory
                api_endpoint: "https://api.dev.boostsec.io"
  # trivy-scan:
  #   executor: default
  #   environment:
  #     BOOST_SCANNER_REGISTRY_REPO: "https://github.com/boostsecurityio/dev-registry.git"
  #     BOOST_IMAGE_NAME: "mongo:latest"
  #   steps:
  #     - checkout
  #     - when:
  #         condition:
  #           or:
  #             - equal: [ main, << pipeline.git.branch >> ]
  #         steps:
            # - boost-security-scanner/scan:
            #     registry_module: boostsecurityio/trivy-sbom-image
            #     api_endpoint: "https://api.dev.boostsec.io"
            # - boost-security-scanner/scan:
            #     registry_module: boostsecurityio/trivy-image
            #     api_endpoint: "https://api.dev.boostsec.io"
            # - boost-security-scanner/scan:
            #     registry_module: boostsecurityio/trivy-sbom
            #     api_endpoint: "https://api.dev.boostsec.io"
            # - boost-security-scanner/scan:
            #     registry_module: boostsecurityio/trivy-fs
            #     api_endpoint: "https://api.dev.boostsec.io"
            # - boost-security-scanner/scan:
            #     registry_module: boostsecurityio/boost-sca
            #     api_endpoint: "https://api.dev.boostsec.io"
