
name: Boostsecurityio
on:
  workflow_dispatch:
  push:

jobs:
  scanner:
    name: boost
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Composition
        if: github.event_name != 'pull_request'
        uses: boostsecurityio/boostsec-scanner-github@v4
        with:
          registry_module: boostsecurityio/composition
          registry: https://github.com/boostsecurityio/dev-registry.git#BST-17782
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          api_endpoint: https://api.dev.boostsec.io
  
