
name: Boostsecurityio
on:
  workflow_dispatch:
  push:

jobs:
  scanner:
    name: boost
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # - name: Composition
      #   if: github.event_name != 'pull_request'
      #   uses: boostsecurityio/boostsec-scanner-github@v4
      #   env:
      #     BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
      #   with:
      #     registry_module: boostsecurityio/composition
      #     api_token: ${{ secrets.BOOST_API_TOKEN }}
      #     api_endpoint: https://api.dev.boostsec.io
      # - name: SCI
      #   if: github.event_name != 'pull_request'
      #   uses: boostsecurityio/boostsec-scanner-github@v4
      #   env:
      #     BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
      #   with:
      #     registry_module: boostsecurityio/supply-chain-inventory
      #     api_token: ${{ secrets.BOOST_API_TOKEN }}
      #     api_endpoint: https://api.dev.boostsec.io
      # - name: trivy-fs
      #   if: github.event_name != 'pull_request'
      #   uses: boostsecurityio/boostsec-scanner-github@v4
      #   env:
      #     BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
      #   with:
      #     registry_module: boostsecurityio/trivy-fs
      #     api_token: ${{ secrets.BOOST_API_TOKEN }}
      #     api_endpoint: https://api.dev.boostsec.io
      # - name: trivy-fs-sbom
      #   if: github.event_name != 'pull_request'
      #   uses: boostsecurityio/boostsec-scanner-github@v4
      #   env:
      #     BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
      #   with:
      #     registry_module: boostsecurityio/trivy-sbom
      #     api_token: ${{ secrets.BOOST_API_TOKEN }}
      #     api_endpoint: https://api.dev.boostsec.io
      - name: trivy-image
        if: github.event_name != 'pull_request'
        uses: boostsecurityio/boostsec-scanner-github@v4
        env:
          BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
          BOOST_IMAGE_NAME: mongo:latest
        with:
          registry_module: boostsecurityio/trivy-image
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          api_endpoint: https://api.dev.boostsec.io
      - name: trivy-sbom-image
        if: github.event_name != 'pull_request'
        uses: boostsecurityio/boostsec-scanner-github@v4
        env:
          BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
          BOOST_IMAGE_NAME: mongo:latest
        with:
          registry_module: boostsecurityio/trivy-sbom-image
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          api_endpoint: https://api.dev.boostsec.io
      - name: boost-sca
        if: github.event_name != 'pull_request'
        uses: boostsecurityio/boostsec-scanner-github@v4
        env:
          BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/dev-registry.git#BST-17782
        with:
          registry_module: boostsecurityio/boost-sca
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          api_endpoint: https://api.dev.boostsec.io
